.background {
    width: 300px;
}

.inputs {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.inputs input, .title  {
    margin-left: 15px;
    margin-right: 15px;
}

.title {
    font-weight: 600;
}

.contextual {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-weight: 300;
    background: #ccc;
    padding: 5px 7px;
    border-radius: 6px;
    color: #222;
}

.contextual strong {
    font-weight: 800;
    font-size: 22px;
}

.inputs button {
    margin-left: 5px;
    margin-right: 15px;
}

.board {
    max-height: 450px;
    overflow-y: scroll;
}

.alert {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: darkred;
    color: #dadada;
    text-align: center;
}