.logo {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    margin-right: 15px;
}

.info {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
    border-bottom: solid #333333;
    padding: 10px 15px;
}

.message {
    color: #a2a2a2;
}

.name {
    font-weight: 500;
}

.name.loading {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    width: 150px;
    height: 15px;
}

.message.loading {
    margin-top: 5px;
    width: 250px;
    height: 25px;
}
