.button {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  transition-property: background-color, border, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  border-radius: 5px;
  padding: 12px 20px;
  color: #333333;
  border: 1px solid #ffdd2d;
  background-color: #ffdd2d;
  text-decoration: none;
}

.button:hover {
  border-color: #fcc521;
  background-color: #fcc521;
}
.text {
  text-decoration: none;
  color: #222222;
}
