.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


form {
    width: 450px;
    display: flex;
    flex-direction: column;
}

form input {
    font-size: 16px;
    padding: 10px;
    margin: 0 0 15px;
}

.alert {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: darkred;
    color: #dadada;
    margin: 0 0 15px;
    text-align: center;
}

.heading {
    margin: 0 0 15px;
}

.disabled {
    display: none;
    margin: 0 0 15px;
}

.additional {
    text-align: center;
    margin-top: 10px;
}

