.logo {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    margin-right: 16px;
    background-color: #292a30;
    color: white;
    padding: 0 5px;
    box-sizing: border-box;
}

.info {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
    border-bottom: 1px solid #a2a2a2;;
    padding: 0 0 5px 0;
}

.message {
    color: #a2a2a2;
}

.name {
    font-weight: 500;
}

